<h1>Web Components</h1>

<h2>Polymer Paper Button</h2>
<paper-button raised onclick="modal.open()">Open modal dialog</paper-button>

<h2>Polymer Paper Dialog</h2>
<paper-dialog id='modal' modal>
  <h2>Do you wish to open link?</h2>
  <code>https://www.google.com</code>
  <div class="buttons">
    <paper-button dialog-dismiss>Cancel</paper-button>
    <paper-button dialog-confirm autofocus data-url="https://www.google.com" (click)="handleOpen($event)">Open</paper-button>
  </div>
</paper-dialog>

<h2>Inner HTML test</h2>
<div [innerHTML]="innerHTML | bypassSecurityTrustHtml"></div>

<router-outlet></router-outlet>